* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

form {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    background-image: radial-gradient(closest-side, rgb(2, 48, 13), rgb(117, 182, 152));
}

.chat-display {
    width: 80%;
    height: 80vh;
    box-shadow: 0 0 0.5rem 0 black;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
}

.input-control {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

input {
    padding: 0.5rem;
    box-shadow: 0 0 0.5rem 0 black;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
}

input:focus {
    outline: none;
}

input[type="text"] {
    flex: 0.80;
}

input[type="submit"] {
    flex: 0.20;
}

input[type="submit"]:hover {
    background-color: white;
    cursor: pointer;
}

.message {
    margin: 0.5rem 0;
}


@media screen and (max-width: 600px) {
    .chat-display {
        height: 50vh;
    }
}